/* ------------ */
/* MAIN CONTENT */
/* ------------ */

* {
    cursor: url("../images/cursor.png") 2.2 2.2, auto;
}

body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
    font-family: Nunito, sans-serif;
}

a {
    text-decoration: none;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a:hover,
img:active,
input:focus {
    cursor: url(../images/activecursor.png) 2.2 2.2, pointer;
}

/* navbar */

nav {
    overflow: hidden;
    background: rgba(219, 124, 255, .5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: .5em;
    width: 50%;
    left: 50vh;
    height: 69px;
    border-radius: 6.9px;
    font-size: 24px;
    z-index: 2;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    height: 64px;
}

.nav-item a {
    text-decoration: none;
    margin: 5px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    font-weight: 800;
    color: #9d4fff;
    background: #c38eff;
    border-radius: 5px;
    border: solid 3px #9d4fff;
    box-shadow: 4px 4px #7e40cc;
}

nav img {
    width: 64px;
    height: 64px;
    margin-top: 5px;
}

@media (max-width:920px) {
    nav {
        width: 100%;
        left: 0;
        top: 0;
        height: 64px;
        border-radius: 0;
        font-size: 20px;
    }

    .nav-bar {
        justify-content: flex-start;
        height: 64px;
    }

    .nav-links {
        height: 64px;
    }

    .nav-item a {
        margin: 5px;
    }

    .button {
        font-size: 20px;
    }
}

/* dropdown */



.shrink {
    transition: all .2s ease-in-out;
}

.shrink:hover {
    transform: scale(.9);
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 150px;
    width: 100%;
}

/* ------ */
/* FOOTER */
/* ------ */

footer {
    margin-top: 50px;
    background-color: #e6d1ff;
    color: #9d4fff;
    position: relative;
}

footer a {
    color: #9d4fff;
    display: block;
    margin: 15px 0;
}

footer a:hover {
    color: #c38eff;
}

footer fieldset {
    padding: 0;
}

footer fieldset input {
    background-color: transparent;
    border: 0;
    padding: 1rem;
    border-radius: 5px;
}

footer .ft-flex:last-child {
    align-items: center;
}

footer .ft-flex:last-child .flex-content:last-child {
    text-align: right;
}

footer .ft-flex:last-child p {
    color: #9d4fff;
}

footer .ft-flex:last-child a {
    width: 40px;
    display: inline-block;
    color: #9d4fff;
    padding: .5rem;
    margin-right: 3px;
    text-align: center;
}

@media (max-width:1100px) {
    footer .ft-flex:first-child {
        flex-wrap: wrap;
    }

    footer .ft-flex:first-child .flex-content {
        flex: 1 1 40%;
    }
}

@media (max-width:920px) {
    footer .ft-flex:last-child .flex-content:last-child {
        text-align: left;
    }
}

@media (max-width:320px) {
    footer .ft-flex:first-child .flex-content {
        flex: 1 1 100%;
    }
}

footer a,
footer p {
    font-size: 24px;
    font-weight: 600;
}

footer h1 {
    font-size: 48px;
    color: #9d4fff;
    font-weight: 800;
}

.title {
    color: #9d4fff;
}

.fixed_flex,
.ft-flex {
    display: flex;
}

.flex-content {
    width: 100%;
    position: relative;
}

.sc-styling {
    padding: 1rem;
}

.ft-styling {
    padding: 16px 32px 16px 32px;
}

@media (max-width:920px) {
    .ft-flex {
        flex-wrap: wrap;
    }

    .ft-styling,
    .sc-styling {
        padding: 1rem;
    }

    a,
    p {
        font-size: 12px;
    }
}

input {
    font-family: Nunito, sans-serif;
    outline: #9d4fff solid 3px;
    border-radius: 0;
    background-color: transparent;
    color: #9d4fff;
    font-size: 24px;
    font-weight: 700;
    padding: 5px;
    margin: 5px 15px 5px 0;
    height: 20px;
}

input::placeholder {
    color: rgba(157, 79, 255, .5);
    font-size: 24px;
    font-weight: 700;
}

input:focus::placeholder {
    color: transparent;
}

fieldset {
    border: 0;
}

.subbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: url(../images/activecursor.png) 2.2 2.2, pointer;
    font-size: 20px;
    font-weight: 900;
    color: #9d4fff;
    background: #c38eff;
    border-radius: 5px;
    border: solid 3px #9d4fff;
    box-shadow: 4px 4px #7e40cc;
}

.subbutton:active {
    transform: translate(0, 0);
}

.subbutton:active::before {
    box-shadow: 0 0 0 1px #9d4fff;
    transform: translate3d(0, 0, -10px);
}


@media screen  and (max-width: 920px){

    input {
        font-size: 12px;
        font-weight: 700;
        height: 10px;
    }
    input::placeholder {
        font-size: 16px;
        font-weight: 700;
    }
    .subbutton {
        height: 28px;
        font-size: 12px;
        font-weight: 900;

    }

}

/* ------- */
/* GALLERY */
/* ------- */

.image img {
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    gap: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 300px;
    color: #9d4fff;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 800;
    background: rgba(219, 124, 255, .1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.caption {
    text-align: center;
    padding: 10px;
}

/* -------- */
/* CAROUSEL */
/* -------- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 1000px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.item {
    position: absolute;
    font-size: 24px;
    font-weight: 800;
    background: rgba(219, 124, 255, .8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    -webkit-backdrop-filter: blur(10px);
    width: 270px;
    height: 220px;
    text-align: center;
}

.item h1 {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    text-shadow: 2px 1.1px #8511ff;
    margin: 10px;
}

.item p {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    line-height: 1.1em;
    margin: 0 10px;
}

.a {
    transform: rotateY(0) translateZ(250px);
}

.b {
    transform: rotateY(60deg) translateZ(250px);
}

.c {
    transform: rotateY(120deg) translateZ(250px);
}

.d {
    transform: rotateY(180deg) translateZ(250px);
}

.e {
    transform: rotateY(240deg) translateZ(250px);
}

.f {
    transform: rotateY(300deg) translateZ(250px);
}

.next,
.prev {
    position: absolute;
    top: 400px;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    font-weight: 800;
    color: #9d4fff;
    background: #c38eff;
    border-radius: 5px;
    border: solid 3px #9d4fff;
    transition: transform .15s;
    transform-style: preserve-3d;
    cursor: url(../images/activecursor.png) 2.2 2.2, pointer;
}

.next:active,
.prev:active {
    transform: translate(0, 0);
}

.next:active::before,
.prev:active::before {
    box-shadow: 0 0 0 1px #9d4fff;
    transform: translate3d(0, 0, -10px);
}

.next {
    right: 18em;
}

.prev {
    left: 18em;
}

.next::before,
.prev::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #8e46e8;
    border-radius: inherit;
    transform: translate3d(0, 1px, -100px);
    transition: transform .15s, box-shadow .15s;
}

@media screen and (max-width:920px) {
    .next {
        right: 2em;
    }

    .prev {
        left: 2em;
    }

    .next,
    .prev {
        top: 633px;
    }

    .container {
        perspective: 450px;
    }

    .item {
        width: 190px;
        height: 190px;
    }

    .item p {
        font-size: 12px;
        flex-wrap: wrap;
    }

    .item h1 {
        font-size: 14px;
    }
}



/* --------- */
/* TIMELINE */
/* -------- */

.timeline {
    display: flex;
    flex-direction: column;
    height: inherit;
    position: relative;
    width: 100%;
    max-width: 900px;
    padding: 40px 60px;
    font-size: 24px;
    font-weight: 800;
    background: rgb(236, 218, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    color: #fff;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    height: inherit;
    left: 50%;
    width: 8px;
    background: rgba(134, 21, 255, 0.5);
    border-radius: 3px;
    z-index: 0;
}

.tl-box {
    position: relative;
    background: rgba(219, 124, 255, .5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 7px;
    width: calc( 50% - 40px );
    padding: 15px;
}

.tl.box + div {
    margin-top: 20px;
}

.tl-box:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: calc( 100% + 26px );
    background: rgba(134, 21, 255, 0.9);
    width: 24px;
    height: 24px;
    border: 6px rgba(134, 21, 255, 0.9) solid;
    border-radius: 50%;
    z-index: 1;
}

.tl-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;

}

.tl-box:nth-child(even) {
    margin-left: calc( 50% + 48px );
}

.tl-box:nth-child(even):before {
    left: auto;
    right: calc( 100% + 26px );
}

.tl-box:nth-child(even):after {
    left: auto;
    right: 100%;
    border-left: none;
    border-right: 16px solid #eeeeee;
}

a.redirection {
    color : #b878ff;
}

.redirection:hover {
    -webkit-animation: text-shadow-pop-br 0.5s linear both;
    animation: text-shadow-pop-br 0.5s linear both;
}


@media screen and (max-width:920px) {
    .timeline {
        width: 80%;
    }

    .tl-box {
        padding: 0px;
    }
}


@-webkit-keyframes text-shadow-pop-br {
    0% {
        text-shadow: 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
        text-shadow: 1px 1px #9d4fff, 2px 2px #9d4fff, 3px 3px #9d4fff, 4px 4px #9d4fff, 5px 5px #9d4fff, 6px 6px #9d4fff, 7px 7px #9d4fff, 8px 8px #9d4fff;
        -webkit-transform: translateX(-8px) translateY(-8px);
        transform: translateX(-8px) translateY(-8px);
    }
}
@keyframes text-shadow-pop-br {
    0% {
        text-shadow: 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
        text-shadow: 1px 1px #9d4fff, 2px 2px #9d4fff, 3px 3px #9d4fff, 4px 4px #9d4fff, 5px 5px #9d4fff, 6px 6px #9d4fff, 7px 7px #9d4fff, 8px 8px #9d4fff;
        -webkit-transform: translateX(-8px) translateY(-8px);
        transform: translateX(-8px) translateY(-8px);
    }
}
.redirection:not(:hover) {
    -webkit-animation: text-shadow-pop-br2 1s linear reverse both;
    animation: text-shadow-pop-br2 1s linear reverse both;
}

@-webkit-keyframes text-shadow-pop-br2 {
    0% {
        text-shadow: 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
        text-shadow: 1px 1px #9d4fff, 2px 2px #9d4fff, 3px 3px #9d4fff, 4px 4px #9d4fff, 5px 5px #9d4fff, 6px 6px #9d4fff, 7px 7px #9d4fff, 8px 8px #9d4fff;
        -webkit-transform: translateX(-8px) translateY(-8px);
        transform: translateX(-8px) translateY(-8px);
    }
}
@keyframes text-shadow-pop-br2 {
    0% {
        text-shadow: 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff, 0 0 #9d4fff;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
        text-shadow: 1px 1px #9d4fff, 2px 2px #9d4fff, 3px 3px #9d4fff, 4px 4px #9d4fff, 5px 5px #9d4fff, 6px 6px #9d4fff, 7px 7px #9d4fff, 8px 8px #9d4fff;
        -webkit-transform: translateX(-8px) translateY(-8px);
        transform: translateX(-8px) translateY(-8px);
    }
}

/* --------- */
/* SCROLLBAR */
/* --------- */

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #9d4fff #c38eff;
}

/* Others */
*::-webkit-scrollbar {
    width: 20px;
}

*::-webkit-scrollbar-track {
    background: #c38eff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2) inset;
}

*::-webkit-scrollbar-thumb {
    background: #c38eff;
    border-radius: 20px;
    border: solid 3px #9d4fff;
    box-shadow: 4px 4px #7e40cc;
}